@import '../abstracts/variables';

header {
  width: 100%;
  padding: 15px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  //   .nav-link {
  //     &.active {
  //       background-color: red !important;
  //     }
  //   }

  .navbar-nav {
    li {
      .nav-link {
        color: color(text-color);
      }
    }
    .active_page {
      text-decoration: underline !important;
      font-weight: 600;
    }
  }
}
